body {
  margin: 0;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  .container{
    margin: 8px 16px;
  }
}
.container{
  .task_item{
    text-align: left;
  }
}
.table{
  padding: 20px;
}
.pagination{
  justify-content: center;
}
.pagination>li>a {
  border: none;
  color: #696969;
}
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}