body {
  margin: 0;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  h1 {
    margin: 30px 0;
  }

  h2 {
    margin: 20px 0;
  }

  h3 {
    margin: 10px 0;
  }

  .task_item {
    text-align: left;
  }
}

.table {
  padding: 20px;

  td {
    a {
      height: 100%;
      margin: 0 12px 12px 0;
    }
  }
}

.pagination {
  justify-content: center;
}

.pagination > li > a {
  border: none;
  color: #696969;
}

.pagination > .active > a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination > li > a:hover {
  border-radius: 15px;
}

.bg-0 {
  background-color: #b7b3b2;
}

.bg-1 {
  background-color: #ef7a29;
}

.bg-2 {
  background-color: #f8ab22;
}

.bg-3 {
  background-color: #fbc695;
}

.bg-4 {
  background-color: #83c4e8;
}
