.header{
  ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF7F50;
  }
  li {
    list-style: none;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
